[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
autopep8 = "*"

[packages]
pyttsx3 = "*"
atlassian-python-api = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"
